    #colorBox {
      width: 100%;
      height: 200px;
    }
  
    @media (max-width: 599px) {
      #colorBox {
        background-color: blue;
      }
    }
  
    @media (min-width: 600px) {
      #colorBox {
        background-color: green;
      }
    }
   
    @media (min-width: 1024px) {
      #colorBox {
        background-color: orange;
      }
    }
  

  

