nav{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    flex-direction: colum;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width:768px){
    nav{
        flex-direction: column;
    }
}
